footer {
    .sub_footer {
        .card {
            @media screen and (max-width:1440px) {
                grid-template-columns: 2fr 1fr !important;
            }

            @media screen and (max-width:425px) {
                grid-template-columns: 1fr !important;
            }

            height: 131px;
            display: grid;
            grid-template-columns: 2.2fr 0.8fr;

            .social_bar_updates {
                @media screen and (max-width:1440px) {
                    padding: 40px 80px !important;
                }

                @media screen and (max-width:425px) {
                    flex-direction: column !important;
                }

                background: #1f2c35;
                padding: 40px 80px 40px 250px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .text {
                    .title {
                        font-size: 26px;
                        color: $white;
                        margin-bottom: 10px;
                    }

                    .desc {
                        font-size: 16px;
                        color: $white;
                    }
                }

                >.link {
                    padding: 18px 55px;
                    border: 1px solid $white;
                    color: $white;
                    font-size: 16px;
                    font-weight: 200;
                    text-align: center;
                    transition: all 0.3s;

                    &:hover {
                        background: $white;
                        color: $main1;
                    }
                }
            }

            .social_bar_icons {
                background: #37434d;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;

                >.link {
                    background: #1f2c35;
                    width: 53px;
                    height: 53px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s;

                    >.icon {
                        color: $white;
                        font-size: 23px;
                        transition: all 0.3s;
                    }

                    &:hover {
                        background: $white;

                        .icon {
                            color: #1f2c35;
                        }

                    }
                }
            }
        }
    }

    .main_footer {
        @media screen and (max-width:425px) {
            margin-top: 170px !important;
        }

        background: $main1;

        .card {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding-block: 60px;

            >.logo {
                width: 65px;
                height: 32px;

                .img_logo {
                    width: 100%;
                }
            }

            .content {
                @media screen and (max-width:1440px) {
                    grid-template-columns: 5fr 1fr !important;
                }

                @media screen and (max-width:425px) {
                    display: flex !important;
                    flex-direction: column;
                }

                width: 100%;
                display: grid;
                grid-template-columns: 5.5fr 0.5fr;
                gap: 10px;


                >.right {
                    @media screen and (max-width:425px) {
                        grid-template-columns: 1fr !important;
                    }

                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 4fr;

                    .primary_menu {
                        padding: 30px 0 50px 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 25px;

                        >.item {
                            >.link {
                                color: $white;
                                font-size: 18px;
                                font-weight: 200;

                                >.icon_heart {}
                            }
                        }
                    }

                    .site_map {
                        @media screen and (max-width:425px) {
                            grid-template-columns: 1fr !important;
                        }

                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;

                        .part {
                            padding: 30px 30px 50px 30px;
                            border-right: 1px solid rgba(255, 255, 255, 0.2);
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            >.title {
                                color: $white;
                                font-size: 16px;
                                margin-bottom: 8px;
                            }

                            >.item {
                                >.link {
                                    color: $white;
                                    font-size: 14px;

                                    >.icon {}
                                }
                            }
                        }
                    }
                }

                >.left {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 10px;
                    padding-top: 30px;

                    >.top {
                        @media screen and (max-width:1440px) {
                            justify-items: start !important;
                        }

                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;

                        >.link {
                            font-size: 16px;
                            color: $white;

                            &:nth-child(1) {
                                border-left: 1px solid $white;
                                padding-left: 20px;
                            }

                            &:nth-child(2) {
                                text-align: left;
                            }
                        }
                    }

                    >.copy_right {
                        color: $white;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}