.featured_content {

    .card {
        @media screen and (max-width:1440px) {
            grid-template-columns: 2fr 1fr !important;
        }

        @media screen and (max-width:425px) {
            grid-template-columns: 1fr !important;
        }

        display: grid;
        grid-template-columns: 2.2fr 0.8fr;

        .box_image {
            width: 100%;

            .img {
                width: 100%;
                object-fit: cover;
            }
        }

        .callout {
            background: #697279;
            padding: 30px 50px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 45px;

            .top {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 12px;

                .title {
                    @media screen and (max-width:1440px) {
                        font-size: 34px !important;
                    }

                    font-size: 40px;
                    line-height: 46px;
                    color: $white;
                }

                .desc {
                    @media screen and (max-width:1440px) {
                        font-size: 18px !important;
                    }

                    font-size: 24px;
                    line-height: 30px;
                    color: $white;
                }
            }

            .link {
                border: 1px solid $white;
                padding: 17px 25px;
                color: $white;
                font-size: 16px;
                font-weight: 200;
                transition: all 0.3s;

                &:hover {
                    background: $white;
                    color: $main1;
                }
            }
        }
    }
}