.fifty_fifty_wrapper {
    background: $white;

    >.card {
        @media screen and (max-width:425px) {
            flex-direction: column !important;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        >.content {
            @media screen and (max-width:1440px) {
                padding: 78px 90px !important;
            }

            height: -webkit-fill-available;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding: 108px 146px;
            background: #f2f2f2;
            flex: 1 0 50%;

            .texts {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 8px;

                .text_top {
                    font-size: 18px;
                    color: $main1;
                    font-weight: 200;
                }

                .title {
                    font-size: 40px;
                    color: $main1;
                    margin-bottom: 10px;
                }

                .desc {
                    @media screen and (max-width:1440px) {
                        font-size: 18px !important;
                    }

                    font-size: 20px;
                    line-height: 1.4;
                    color: $main1;
                    font-weight: 200;
                    text-align: justify;
                }
            }

            >.link {
                width: 228px;
                text-align: center;
                padding: 14px 32px;
                margin: 16px 0;
                background: $main1;
                color: $white;
                white-space: nowrap;
                position: relative;
                transition: all 0.3s;

                &::after {
                    content: "";
                    display: block;
                    width: 35%;
                    height: 1px;
                    background: $white;
                    position: absolute;
                    bottom: 12px;
                    right: 72px;
                    opacity: 0;
                    transition: all 0.3s;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        .box_image {
            flex: 1 0 50%;

            .img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}