.hero {
    overflow: hidden;
    position: relative;
    margin-top: 60px;
    background: $main1;

    .hero-video {
        width: 100%;
        // height: 90%;
        height: 70%;
        object-fit: cover;
        z-index: 0;
        position: absolute;
        inset: 0;
        // top: 60px;
    }

    .card {
        gap: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 91vh;

        .content {
            text-align: right;
            position: relative;
            top: 275px;
            z-index: 1;

            >h1 {
                font-size: 80px;
                color: $white;
            }

            .btns {
                display: flex;
                justify-content: flex-start;
                gap: 25px;

                >.btn {
                    padding: 17px 41px;
                    font-weight: 200;
                    font-size: 16px;
                    transition: all 0.3s;
                    border: 1px solid $white;
                }

                .btn_customize {
                    color: $white;

                    &:hover {
                        color: $main1;
                        background: $white
                    }
                }

                .btn_view_product {
                    background: $white;

                    color: $main1;

                    &:hover {
                        color: $white;
                        background: $main1;
                        border: 1px solid $main1;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;
            position: relative;
            z-index: 1;
            width: 1005;


            >.btns {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: row-reverse;
                gap: 4px;
                cursor: pointer;
                user-select: none;

                .icon {
                    color: $white;
                    font-size: 10px;
                    transition: all 0.3s;

                    &.active {
                        color: $text;
                    }
                }

                .text {
                    color: $white;
                    font-size: 11px;
                }

            }

            .link {
                color: $text;
                font-size: 16px;
                text-decoration: underline;
            }
        }
    }

    .shadow {
        width: 100%;
        display: block;
        height: 255px;
        position: absolute;
        // bottom: 11px;
        bottom: 350px;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgb(0 0 0 / 68%) 100%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(3 11 17 / 5%) 40%, rgb(0 0 0) 100%);
    }

    >.link {
        width: 100%;
        min-height: 360px;
        display: flex;
        align-items: center;
        position: relative;
        top: 10px;

        .bg_img {
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
        }

        .content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            position: relative;

            >.right {
                display: flex;
                flex-direction: column;
                gap: 20px;

                >.title {
                    font-size: 40px;
                    color: $white;
                }

                >.desc {
                    font-size: 24px;
                    color: $white;
                    line-height: 1.4;
                }
            }

            >.left {
                color: $white;
                font-size: 25px;
            }
        }
    }
}